<%= form_for @livro, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :edicao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :edicao, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ano, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ano, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isbn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isbn, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :paginas, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :paginas, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :autor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:autor_id, Autor.all, :id, :nome, :prompt => 'Autor', :class => 'text_field') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :colecao_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:colecao_id, Colecao.all, :id, :nome, :prompt => 'Coleção', :class => 'text_field') %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :editora_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :editora_id, Editora.all, :id, :nome, :prompt => 'Editora', :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                livros_path, :class => 'btn' %>
  </div>
<% end %>
