<%- model_class = Livro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= model_class.human_attribute_name(:edicao) %></th>
      <th><%= model_class.human_attribute_name(:ano) %></th>
      <th><%= model_class.human_attribute_name(:isbn) %></th>
      <th><%= model_class.human_attribute_name(:paginas) %></th>
      <th><%= model_class.human_attribute_name(:autor_id) %></th>
      <th><%= model_class.human_attribute_name(:colecao_id) %></th>
      <th><%= model_class.human_attribute_name(:editora_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if @livros %>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= link_to livro.id, livro_path(livro) %></td>
        <td><%= livro.titulo %></td>
        <td><%= livro.edicao %></td>
        <td><%= livro.ano %></td>
        <td><%= livro.isbn %></td>
        <td><%= livro.paginas %></td>
        <td><%= livro.autor.try(:nome) %></td>
        <td><%= livro.colecao.try(:nome) %></td>
        <td><%= livro.editora.try(:nome) %></td>
        <td><%=l livro.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_livro_path(livro), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      livro_path(livro),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_livro_path,
            :class => 'btn btn-primary' %>
